# /.env.example
# Main settings
HOST=host#127.0.0.1
PORT=port#8000
SECRET_KEY=secret_key
DEBUG=True
# postgres DB
DB_USERNAME=postgres
DB_PASSWORD=password
DB_HOST=host
DB_PORT=port
DB_NAME=name
# SMTP
SMTP_HOST=://gmail.com
SMTP_PORT=465
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
# Redis
REDIS_HOST=host
REDIS_PORT=port
